body{
font-family: sans-serif;
background-image: url("../images/benny.png");
background-size: cover;
background-repeat: no-repeat;
text-align: center;
color: #F8F8FF;

}

#wrapper { 
width:550px;
margin:20px auto;
}

h1{
text-align:center;
font-size: 40px;
color: #E2E2E2;
font-family: 'Candal', sans-serif;
margin-top: 180px;
-webkit-font-smoothing: antialiased;
}

.start {
background: #E2E2E2;
color: #E2E2E2;
cursor: pointer;
letter-spacing: 1px;
padding: 10px 0;
border-radius: 5px;
color: black;
width:20%;
font-weight: 500;
}

.next {
background: #E2E2E2;
color: black;
cursor: pointer;
letter-spacing: 1px;
padding: 10px 0;
border-radius: 5px;
color: black;
margin-top:20px;
margin-left: 130px;
display:block;
width:50%;
font-weight: 700;
}

.reset {
background: #E2E2E2;
color: #E2E2E2;
cursor: pointer;
letter-spacing: 1px;
padding: 10px 0;
border-radius: 5px;
color: black;
width:20%;
font-weight: 500;
}

#questions {
	color: #D1D1D1;
	font-family: 'Open Sans', sans-serif;
}